<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>All Products</title>
</head>
<body>
	<h1>All Products !</h1>
	<ul>
		<%for(let product of products){%>
		<a href="/products/<%=product._id%>"><li><%=product.name.toUpperCase()%> </li></a>
		<%}%>
	</ul>
	<a href="/products/new">Create New Products</a>
</body>
</html>
